body{
    background-color: mediumorchid;
}
div#header{
    color: black;
}
div#content{
    color: black;
    margin: left 200px;
}
*{
    font-family: 'Noto Serif JP', serif;
}
div#japanese_title{
    font-size: 36px;
}
img.single_pic{
    width: 100px;
    height: 100px;
}
#single_table{
    background-color: white;
}
th{
    width: 100px;
    height: 10px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
thead{
    background-color: lightgray;
}
hr.line{
    border-color: black;
}