*{
    font-family: 'Noto Serif JP', serif;
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
}
hr.line{
    margin: 0;
    border-color: orchid;
}

a.navigation_button{
    padding: 20px;
    color: orchid;
}
ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
}
li{
    list-style: none;
}
li a.navigation_button:hover{
    background-color: blueviolet;
}
a.navigation_button:hover{
    color: white;
}
li.navigation_list{
    display: inline;
}

ul li a.navigation_button{
    list-style-type: none;
}

div#gallery{
    font-size: 0;
}
div.frame{
    display: inline;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    height: 12.5%;
    width: 12.5%;
}
div.frame img{
    height: 12.5%;
    width: 12.5%;
}

img.single_pic{
    width: 100px;
    height: 100px;
}
#single_table{
    background-color: white;
}
th{
    width: 100px;
    height: 10px;
}
thead{
    background-color: lightgray;
}

div.github-card{
    color: black;
}