*{
    font-family: 'Roboto Mono', monospace;
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
}
hr.line{
    margin: 0;
    height: 1px;
    border: none;
    background-color: orchid;
}

div.navigation_bar{
    background-color: white;
    overflow: hidden;
    border: 0;
}
ul.navigation_ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
}
a.navigation_button{
    display: inline;
    padding: 20px;
    color: orchid;
}
li{
    list-style: none;
    float: left;
}
li a.navigation_button_active{
    background-color: orchid;
    display: inline;
    padding: 20px;
}
a.navigation_button_active{
    padding: 20px;
    color: white;
}
li a.navigation_button:hover{
    background-color: lightgray;
}
a.navigation_button:hover{
    color: orchid;
}

li.navigation_list{
    display: inline;
}

ul li a.navigation_button{
    list-style-type: none;
}

div#gallery{
    font-size: 0;
    overflow: hidden;
}
div.frame{
    position: relative;
    display: inline;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    height: 12.5%;
    width: 12.5%;
    overflow: hidden;
}
div.frame img{
    height: 12.5%;
    width: 12.5%;
    opacity: 25%;
    filter: blur(2px);
    transition-property: transform, opacity, filter;
    transition-duration: 1s, 5s, 1s;
}
div.frame img:hover{
    transform: scale(1.1);
    opacity: 100%;
    filter: blur(0px);
    transition-duration: 0.5s;
}

div#popup{
    display: none;
    position: relative;
    height: 353px;
    width: 724px;
    border: 10px;
    border-radius: 14px;
    border-color: black;
    background-color: transparent;
    color: black;
    font-size: 20px;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div#popup_x{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    background-color: transparent;
    text-align: right;
    padding: 0;
    margin: 0;
    cursor: default;
    width: 100%;
    height: 5%;
    z-index: 1;
}
div#popup_x span{
    position: absolute;
    right: 5px;
}
div#popup_x:hover{
    color: lightgray;
}
div#popup_innerframe{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div#popup_spotify{
    padding: 0;
    width: 724px;
    height: 353px;
}
div#popup_spotify iframe{
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

img.single_pic{
    width: 100px;
    height: 100px;
}
#single_table{
    background-color: white;
}
th{
    width: 100px;
    height: 10px;
}
thead{
    background-color: lightgray;
}

div.about_content a{
    color: orchid;
    text-decoration: underline;
}
div.about_content a:visited{
    color: orchid;
    text-decoration: underline;
}